<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center py-2 mt-3 border-top bg-light px-3 newFooter">
    <div class="col-md-2 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">TP Programación web III - 2024</span>
    </div>

    <div class="d-flex flex-wrap">
        <ul>
            Integrantes:
            <li>Miranda Patricio</li>
            <li>Lickey Pablo</li>
            <li>Di Lauro Madelaine</li>
            <li>Insaurralde Carrera Agustín</li>
            <li>Schiavone Uriel</li>
        </ul>
    </div>

    <div class="col-md-2 justify-content-end d-flex">
        <a class="text-muted" href="https://github.com/UriSch/TrabajoGrupal-PrograWebIII" target="_blank"><img class="bi" width="34" height="34" src="~/github-mark.png" alt="github"></a>
    </div>
</footer>